.btn {
  border-radius: 2px;
  height: 45px;
  width: 118px;
  background-color: var(--blueBtn);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  border: none;
  margin-top: 75px;
  float: right;
}
.txt-area {
  padding: 10px;
  height: 28px;
}
.text-area-container {
  margin-bottom: 2px;
}
.close-icon {
  cursor: pointer;
}

.header {
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.edit-modal {
  width: 100%;
  height: 100%;
}
.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
.error {
  color: var(--error);
  margin-top: -20px;
}
::placeholder {
  color: var(--placeHolder);
}
